@media print, (max-width: 1187px) {
  
    :root {
        --font_size: 14px;
        --font_size_title: 36px;
    }
    html.custom_scroll ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .first_section-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
    }
    .first_section {
        padding: 40px;
    }
    .first_section-desc {
        font-size: 20px;
        line-height: 20px;
    }
    .first_section-list li {
        font-size: 14px;
        line-height: 22px;
    }
    .first_section-img img {
        width: 100%;
    }
    .first_section-img {
        flex-shrink: 1;
    }




}
