/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*-----------
    Fonts
-----------*/
@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Regular.eot');
    src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
        url('../fonts/TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Regular.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Regular.woff') format('woff'),
        url('../fonts/TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Medium.eot');
    src: local('TT Norms Pro Medium'), local('TTNormsPro-Medium'),
        url('../fonts/TTNormsPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Medium.woff') format('woff'),
        url('../fonts/TTNormsPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Bold.eot');
    src: local('TT Norms Pro Bold'), local('TTNormsPro-Bold'),
        url('../fonts/TTNormsPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Bold.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Bold.woff') format('woff'),
        url('../fonts/TTNormsPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #363843;
    --font_size: 16px;
    --font_size_title: 40px;
    --font_family: 'TT Norms Pro', sans-serif;
}


::selection
{
    color: #fff;

    background: #9ebf41;
}

::-moz-selection
{
    color: #fff;

    background: #9ebf41;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #5C9BFF;
}

html.custom_scroll
{
    scrollbar-color: #5C9BFF #ccc;
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop {
    background: rgba(0,0,0,.6);
}
.fancybox__slide {
    padding: 40px;
}
.modal.fancybox__content > .carousel__button.is-close {
    color: #000;
    top: 14px;
    right: 14px;
    display: flex;
    width: 34px;
    height: 34px;
    transition: .2s linear !important;
    opacity: 1 !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.modal.fancybox__content > .carousel__button.is-close svg {
    display: block;
    width: 20px;
    height: 20px;
    filter: none;
    stroke: #000;
    stroke-width: 0;
}
.modal.fancybox__content > .carousel__button.is-close:hover {
    color: #000;
}














/*------------------
    Form elements
------------------*/
.form {
    --form_border_color: #E8E8E8;
    --form_focus_color: #1A59BD;
    --form_border_radius: 6px;
    --form_bg_color: #fff;
    --form_placeholder_color: #6B7073;
}
.form ::-webkit-input-placeholder {
    color: var(--form_placeholder_color);
    font-size: var(--font_size);
    font-weight: 400;
}
.form :-moz-placeholder {
    color: var(--form_placeholder_color);
    font-size: 18px;
    font-weight: 400;
}
.form :-ms-input-placeholder {
    color: var(--form_placeholder_color);
    font-size: 18px;
    font-weight: 400;
}
.form .line {
    margin-bottom: 20px;
}
.form .field {
    position: relative;
}
.form .input {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 64px;
    padding: 0 20px;
    transition: border-color .2s linear;
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}
.form .input:focus {
    border-color: var(--form_focus_color);
}
.form .error {
    color: #E70202;
    border-color: #E70202;
    background: #FFF0F0;
}
.form .submit_btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    width: 100%;
    height: 62px;
    color: #fff;
    border-radius: var(--form_border_radius);
    background: #5C9BFF;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
    border-radius: 12px;
}
.form .submit_btn:hover {
    opacity: 0.8;
}
.modal .checkbox {
    color: #363843;
}
.modal .checkbox a {
    color: inherit;
}





/*------------
    Header
------------*/

header {
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 0;
}
header .cont {
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.header_left {
    display: flex;
    align-items: center;
}
header .logo {
    text-decoration: none;
}
header .desc {
    margin-left: 60px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
header .desc span {
    color: #1A59BD;
}
header .contacts {
    display: flex;
    align-items: center;   
    margin-top: 0px;
    margin-bottom: 0px;   
}
header .phone {
    text-align: end;
    margin-right: 17px;
}
header .phone a {
    text-decoration: none;    
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #363843;
}
header .time {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6B7073;
}
header .callback_btn {
    width: 175px;
    height: 54px;
    background: #5C9BFF;
    border-radius: 12px;  
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all .5s;
}
header .callback_btn:hover {
    background: #7AAEFF;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #363843;  
    margin-bottom: 40px;
}




/*-------------------
    First section
-------------------*/


.first_section {
    position: relative;
    z-index: 3;
    padding: 50px 100px;
    background: #1A59BD;
    border-radius: 30px;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.first_section .cont {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_section-description {
    
}
.first_section .info {    

}
.first_section-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #FFFFFF;  
    max-width: 647px;
}
.price-green {
    background: #C9FF56;
    padding: 0px 10px 0px 5px;
    border-radius: 12px;
    color: #363843;
}
.price-blau {
    background: #5C9BFF;
    padding: 0px 10px 0px 5px;
    border-radius: 12px;
}
.first_section-desc {
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 23px;
}
.first_section-list {
    list-style: none;
    margin-top: 31px;
    display: flex;
    margin-left: -30px;
    margin-bottom: 29px;
}
.first_section-list > * {
    width: calc(100%/3 - 30px);
    margin-left: 30px;
}
.first_section-list li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;  
    display: flex;
}
.first_section-list li svg {
    flex-shrink: 0;
    margin-right: 6px;
    margin-top: 4px;
}
.first_section .btns {
    display: flex;
    align-items: center;
}
.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    border-radius: 12px;
    height: 62px;
    transition: all .5s;
}
.btn-white {
    width: 320px;
    background: #fff;
    color: #363843;
    margin-right: 20px;
}
.btn-blau {
    width: 244px;
    border: 2px solid rgba(255, 255, 255, 0.5); 
    color: #FFFFFF;   
}
.btn-white:hover {
    opacity: 0.8;
}
.btn-blau:hover {
    opacity: 0.8;
}





.benefits_list {
    list-style: none;
    padding: 31px 58px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.benefits_list li {
    display: flex;
    align-items: center;
}
.benefits_list li img {
    margin-right: 22px;
}






.company {
    margin-top: 70px;
    margin-bottom: 70px;
}
.company_items {
    display: flex; 
    margin-left: -30px;   
    margin-bottom: -30px;
    flex-wrap: wrap;
}
.company_items > * {
    width: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
.company_item {
    height: 219px;
    position: relative;
}
.company_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.company_item-text {
    padding: 7px 13px;
    background: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #363843;
    position: absolute;
    bottom: 14px;
    left: 14px;
    border-radius: 12px;
}






.application-form {
    margin-top: 130px;
}
.application-form_wrap {
    background: #1A59BD;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont {
}
.application-form_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.field_box {
    display: flex;
}
.callback_form {
    padding: 50px;
}
.callback_form .line {
    display: flex;
}
.callback_form .line .field {  
    width: 100%;
    margin-right: 20px;
}
.callback_form .line .field input {
    width: 280px;
    height: 62px;
    background-color: #ffffff;
    border-radius: 6px;
    font-family: var(--font_family);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #363843;
    padding: 0 20px;
    border: none;
}
.callback_form .line .submit_btn {
    width: 200px;
    height: 62px;
    background: #5C9BFF;
    border-radius: 12px;
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    transition: all 0.5s;
}
.callback_form .line .submit_btn:hover {
    opacity: 0.8;
}
.callback_form .checkbox {
    width: auto;
    margin-top: 16px;
}
input[type=checkbox] {
    display: none;
    opacity: 0;
}
label.checkbox {
    font-family: var(--font_family);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    position: relative;
    display: table-cell;
    padding-left: 32px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
label.checkbox a {
    text-decoration: underline;
    color: #fff;
}
label.checkbox:before {
    position: absolute;
    top: 2px;
    left: 0px;
    display: inline-block;
    content: '';
    transition: .2s linear;
    background: #FFFFFF;
    width: 22px;
    height: 22px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
}
label.checkbox:after {
    position: absolute;
    top: 9px;
    left: 5px;
    display: block;
    width: 12px;
    height: 6px;
    content: '';
    transition: opacity .2s linear;
    transform: rotate(-45deg);
    opacity: 0;
    border-bottom: 2px solid #000;
    border-left: 2px solid  #000;
}
input[type=checkbox]:checked + label.checkbox:after {
    opacity: 1;
}
::-webkit-input-placeholder {
    color: #6B7073;
}
::-moz-placeholder {
    color: #6B7073;
}
:-moz-placeholder {
    color: #6B7073;
}
:-ms-input-placeholder {
    color: #6B7073;
}







.advantages {
    margin-top: 150px;
}
.title span {
    font-weight: 700;
}
.advantages_items {
    display: flex;
    align-items: stretch;
    margin-left: -30px;
    margin-bottom: -30px;
    flex-wrap: wrap;
}
.advantages_items > * {
    width: calc(100%/2 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
}
.advantages_item {
    display: flex;
    background: #F7FAFF;
    border-radius: 20px;
}
.advantages_item-info {
    padding: 40px;
}
.advantages_item-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #363843;  
    margin-bottom: 10px; 
}
.advantages_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363843;
}



.tarif {
    background: #1A59BD;
    padding-top: 80px;
    padding-bottom: 90px;
    margin-top: 90px;
}
.tarif_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.tarif_items {
    display: flex;
    align-items: stretch;
    margin-left: -30px;
    padding: 0 180px;
}
.tarif_items > * {
    width: calc(100%/2 - 30px);
    margin-left: 30px;
}
.tarif_item {
    padding: 40px;
    background: #FFFFFF;
    border-radius: 40px;
}
.tarif_item-top {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.tarif_item-logo {
    margin-right: 22px;
}
.tarif_item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #363843;
}
.tarif_item-price {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #363843;
}
.tarif_item-price span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #363843;
}
.tarif_item-list {
    list-style: none;    
}
.tarif_item-list li {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #363843;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}
.tarif_item-list li:last-child {
    margin-bottom: 27px;
}
.tarif_item-list li svg {
    margin-right: 10px;
}
.tarif_link {
   text-decoration: none; 
}
.tarif_link span {    
    width: 100%;
    height: 62px;
    background: #5C9BFF;
    border-radius: 12px;
    padding: 17px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
}
.tarif_link span:hover {
    opacity: 0.8;
}







.additionally {
    margin-top: 90px;
    padding-bottom: 90px;
}
.additionally_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -30px;
}
.additionally_items > * {
    width: calc(100%/4 - 30px);
    margin-left: 30px;
}
.additionally_item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #363843;  
    margin-bottom: 10px; 
}
.additionally_item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363843;
    margin-bottom: 35px;
}
.additionally_item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.additionally_item-info {
    padding: 20px 20px 0;
}
.additionally_item-img {
    margin-top: auto;
}
.additionally_item-img img {
    width: 100%;
}
.additionally_item:nth-child(1) {
    background: #FBF4FF;
}
.additionally_item:nth-child(2) {
    background: #ECFFE9;
}
.additionally_item:nth-child(3) {
    background: #F7FAFF;
}
.additionally_item:nth-child(4) {
    background: #FFF6ED;
}










.reviews {
    padding-top: 90px;
    background: #F7FAFF;
    padding-bottom: 90px;
}
.reviews_items {
    padding: 0 100px;
}

.reviews_item {
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}

.reviews_item-name {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #363843;   
}
.reviews_item-company {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363843;
    margin-bottom: 20px;
}
.reviews_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363843;
}
.slick-slide {
    margin: 0 15px;
}
.slick-list {
    margin: 0 -15px;
}
.slick-next {
    right: 0;
    top: 50%;
    transform: translateY(-58px);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    background: url(../images/arrow_next.svg);
    font-size: 0;
}
.slick-prev {
    left: 0;
    top: 50%;
    transform: translateY(-58px);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    background: url(../images/arrow_prev.svg);
    font-size: 0;
}
.slick-prev:hover,
.slick-next {
    opacity: 0.8;
}





.contacts {
    margin-top: 90px;
    margin-bottom: 90px;
}
.contacts_title {
    text-align: start;
}
.contacts_items {
    column-count: 3;
}
.contacts_item {
    margin-bottom: 20px;
}
.contacts_item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6B7073;
    margin-bottom: 4px;
}
.contacts_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363843;    
}
.contacts_item-text-phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #363843; 
    text-decoration: none;
}
.contacts_item-text-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #1A59BD;  
}
.contacts .map_wrap {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 100% !important;
    height: 369px;
    transform: translateZ(0);
    border-radius: 10px;
  }
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}








.question {
    padding-top: 90px;
    padding-bottom: 74px;
    background: #1A59BD;
}
.question_wrap {
    display: flex;
    background: #fff;
    padding: 60px 60px 40px;
    border-radius: 20px;
}
.question_title {
    text-align: start;
    margin-bottom: 10px;
}
.question_left {
    margin-right: 25px;
}
.question_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #363843;  
}
.question_form {
    width: 600px;
    margin: 0 auto;
}
.question_form-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.question_form-line > * {
    width: calc(100%/2 - 10px);
    margin-bottom: 20px;
}
.question_form-field input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    height: 62px;
    padding: 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #363843;
    font-family: var(--font_family);
}
.question_form-line textarea {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    resize: none;
    padding: 17px 20px;
    width: 100%;
    height: 118px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #363843;
    font-family: var(--font_family);
}
.fieldset {
    width: 100%;
}
.question_form-field button {
    background: #0084FF;
    box-shadow: 0px 10px 19px rgba(0, 132, 255, 0.31);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.question label.checkbox,
.question label.checkbox a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #363843;
}
.question .submit_btn {
    background: #5C9BFF;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    transition: all 0.5s;
}
.question .submit_btn:hover {
    opacity: 0.8;
}
.question label.checkbox:before {
    top: -3px;
}
.question label.checkbox:after {
    top: 4px;
}

  







footer {
    padding: 20px 0 25px;
}
footer .cont {
    display: flex;
    align-items: center;
}
.footer_text {
    margin-left: 205px;
    max-width: 300px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363843;
}








/*-----------
    PopUp
-----------*/
.modal {
    display: none;
    visibility: visible !important;
    width: 408px;
    max-width: 100%;
    padding: 40px 30px 10px;
    background: #FFFFFF;
    border-radius: 20px;
}
.modal_title {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 11px;
}
.modal_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;  
    margin-bottom: 20px;  
}

.fancybox-slide--html .fancybox-close-small {
    color: #000;
    top: 0;
    right: 0;
    width: 29px;
    height: 29px;
    padding: 10px;
    transition: color .2s linear;
    opacity: 1;
    padding: 3px !important;
    background-color: #fad31a;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}

.fancybox-button svg {
    position: relative;
    display: block;
    overflow: visible;
    width: 100%;
    height: 100%;
}

